.counter-and-clear-operation {
  margin: 10px;
  color: grey;
  font-size: 1rem;
  height: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  border-radius: 5px;
  background-color: white;
}

button {
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--light-Dark-Grayish-Blue);
  background-color: inherit;
  cursor: pointer;
}

button:focus {
  color: blue;
}
