.light-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 35vh;
  background-image: url("/src/images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.dark-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 35vh;
  background-image: url("/src/images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.title {
  color: white;
  margin-left: 100px;
}

.light-theme-button {
  background-image: url("/src/images/icon-moon.svg");
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  background-color: var(--background);
  background-position: center;
  border: none;
  margin-right: 100px;
  cursor: pointer;
}

.dark-theme-button {
  background-image: url("/src/images/icon-sun.svg");
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  background-color: var(--background);
  background-position: center;
  border: none;
  margin-right: 100px;
  cursor: pointer;
}
