#input-todo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  width: 430px;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  color: var(--light-Very-Dark-Grayish-Blue);
  margin-top: -50px;
  padding: 5px;
}

#submit-data {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: solid 2px var(--light-Light-Grayish-Blue);
  background-image: url("/src/images/icon-check.svg"),
    linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

#todo-data {
  height: 30px;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: inherit;
  color: inherit;
  width: 325px;
}
