.list-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  width: 430px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

.todoCheckbox {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  vertical-align: middle;
  border: solid 2px lightgray;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.todoCheckbox:checked {
  background-image: url("/src/images/icon-check.svg"),
    linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.todoCheckbox:checked + span {
  text-decoration: line-through;
}

.todoDelete {
  background-image: url("/src/images/icon-cross.svg");
  background-repeat: no-repeat;
  position: center;
  height: 20px;
  width: 20px;
  background-size: 100% 100%;
  border: none;
}

.todoList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
